[submodule "components/QC845"]
	path = components/QC845
	url = https://github.com/WOA-Project/windows_silicon_qcom_napali
[submodule "components/QC8350"]
	path = components/QC8350
	url = https://github.com/WOA-Project/windows_silicon_qcom_lahaina
[submodule "components/QC7325"]
	path = components/QC7325
	url = https://github.com/arminask/windows_silicon_qcom_yupik
[submodule "components/Devices/EB3G2"]
	path = components/Devices/EB3G2
	url = https://github.com/arminask/windows_oem_thundercomm_eb3g2
